{% extends 'base.html'%}
{% load django_bootstrap5 %}
{%load static%}
<link rel="stylesheet" href="https://fonts.google.com/">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
    integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

{% block content %}
<!-- loop through all the images -->

<br><br><br>
{% include 'status.html'%}
{% for image in image %}
<img src="{{image.picture.url}}" width="40%" height="50%" alt="" style="margin-left: 30%;">
<p>{{image.image_caption}}</p>
            <div class="d-flex justify-content-center form_container">
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control">
                    </div>
                    <div class="d-flex justify-content-center mt-3 login_container">
                        <input class="btn login_btn" type="submit" value="Comment" >
                    </div>
                </form>
            </div>

<a class="navigation-link notifica">
    {% if image in liked_images%}
    <a class="navigation-link notifica" href="{% url 'like' image_id=image.id%}"><i class="far fa-heart"></i></i></a>
    {% else %}
    <a class="navigation-link notifica" href="{% url 'like' image_id=image.id%}"><i class="far fa-heart"></i></a>
    {% endif %}
    <a class="navigation-link notifica" href=""><i class="fas fa-save" aria-hidden="true"></i></a>
    <p>hello</p>
    <p class="ps-2">{{ image.posts.count }} like{{ image.posts.count | pluralize}}</p>
    <p class="ps-2">{{ image.image_caption|truncatechars:30 }}<span
            class="text-muted small">{%if image.image_caption|wordcount > 5 %}more{%endif%}</span>
            
    </p>
</a>

{% endfor %}

{%endblock%}

</html>