{% extends 'base.html' %}
{% include 'navbar.html'%}
{% block content %}
<div class="card mb-3 pt-2 py-2;">
    <div class="status d-flex py-2 mt-1 mb-3">
        <div class="status-item mx-3">
            <div class="status-div">
                <a href="#">
                    <img class="img-fluid" src="/static/images/jackiie.jpeg" alt="">
                </a>
            </div>
                <div class="username mt-1">
                <small>Mwende</small>
                </div>
        </div>
                <div class="status-item mx-3">
                    <div class="status-div">
                        <a href="#">
                            <img class="img-fluid" src="/static/images/pixabay.jpg" alt="">
                        </a>
                    </div>
                    <div class="username mt-1">
                        <small>Genious</small>
                    </div>
                </div>
                        <div class="status-item mx-3">
                            <div class="status-div">
                                <a href="#">
                                    <img class="img-fluid" src="/static/images/newborn.webp" alt="">
                                </a>
                            </div>
                            <div class="username mt-1">
                                <small>Kandie</small>
                            </div>
                        </div>
                                <div class="status-item mx-3">
                                    <div class="status-div">
                                        <a href="#">
                                            <img class="img-fluid" src="/static/images/puppie.webp" alt="">
                                        </a>
                                    </div>
                                    <div class="username mt-1">
                                        <small>Nancy</small>
                                    </div>
                                </div>
                                        <div class="status-item mx-3">
                                            <div class="status-div">
                                                <a href="#">
                                                    <img class="img-fluid" src="/static/images/glitter.webp" alt="">
                                                </a>
                                            </div>
                                            <div class="username mt-1">
                                                <small>Cate</small>
                                            </div>
                                        </div>
                                                <div class="status-item mx-3">
                                                    <div class="status-div">
                                                        <a href="#">
                                                            <img class="img-fluid" src="/static/images/coco.webp"
                                                                alt="">
                                                                
                                                        </a>
                                                    </div>
                                                    <div class="username mt-1">
                                                        <small>Jebii</small>
                                                    </div>
                                                </div>
    </div>
</div>
{% endblock %}